<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdowns</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/dropdown.css">

    <script src="../assets/js/dropdown.js"></script>
</head>
<body>

    <div class="dropdown" data-value="Select A Model" data-empty="true">
        <ul class="values">
            <li>Mercedes</li>
            <li>Corrola</li>
            <li>Meow</li>
        </ul>
    </div>


    <div class="dropdown" data-value="Select Transmission" data-empty="true">
        <ul class="values">
            <li>AM</li>
            <li>AV</li>
            <li>VV</li>
        </ul>
    </div>

    <script>


    </script>
    
</body>
</html>